/*
 CSS-Tricks Example
 by Chris Coyier
 http://css-tricks.com
*/
body{ font-family: Georgia, serif; background: #494949; }

#page-wrap{ width: 300px; margin: 20px auto; }
a{ text-decoration: none; }
ul{ list-style: none; }

.box{ background: #a7a7a7; -moz-border-radius: 5px;-webkit-border-radius: 5px;padding: 10px; margin: 0 0 15px 0; }
.box ul li{ font-size: 11px; margin: 0; border-bottom: 1px solid #666; }
.box ul li a{ color: #222; display: block; padding: 4px 4px; margin: 0;border-bottom: 1px solid #ccc; }
.box ul li:last-child, 
.box ul li:last-child a{ border: none; }
.box ul li a:hover{ background: #ccc; text-decoration: none; }

#catNav{ background: #494949; padding: 5px 5px 5px 37px;-moz-border-radius: 5px; -webkit-border-radius: 5px;overflow: hidden; margin: 0 0 10px 0; }
#catNav li{ display: inline; }
#catNav li a{ display: block; width: 50px; height: 50px; text-indent: -9999px;background: url(images/catSprite.png); float: left;border: none; padding: 0; }
#catNav li a#list-one-button{ background-position: -50px -50px; }

#page-wrap #catNav li.activeCatButton a#list-one-button { background-position: -50px -100px; }
#catNav li a#list-one-button:hover { background-position: -50px 0px; }
#catNav a#list-two-button{ background-position: -100px -50px; }
#page-wrap #catNav li.activeCatButton a#list-two-button { background-position: -100px -100px; }
#catNav li a#list-two-button:hover { background-position: -100px 0px; }
#catNav a#list-three-button{ background-position: 0px -50px; }
#page-wrap #catNav li.activeCatButton a#list-three-button { background-position: 0px -100px; }
#catNav li a#list-three-button:hover { background-position: 0px 0px; }
#catNav a#list-four-button{ background-position: -150px -50px; }
#page-wrap #catNav li.activeCatButton a#list-four-button { background-position: -150px -100px; }
#catNav li a#list-four-button:hover { background-position: -150px 0px; }
